* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: gray;
  height: 100vw;
  width: 100vw;
}

body {
  min-height: 400vw;
}

h1 {
  padding: 40px;
  font-size: 25px;
  color: lightblue;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  padding: 30px;
  background: linear-gradient(gray, rgb(185, 182, 181));
  border: 5px solid rgb(2, 247, 255);
}

a {
  text-decoration: none;
}

header {
  background-image: url(../multimedia/banner.jpg);
  text-align: center;
}
header img {
  width: 20rem;
}
header, header h2 {
  font-size: 30px;
}

.pie {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgb(105, 87, 87);
  width: 100%;
  height: 50px;
  border-top: 5px double blue;
}
.pie p {
  display: block;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: rgb(2, 247, 255);
  padding: 5px;
  border-radius: 10px;
}

.equipo {
  background-color: rgb(185, 182, 181);
}
.equipo li {
  color: rgb(161, 11, 136);
  font-weight: 600;
}

.menu {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  gap: 30px;
  border: none;
  font-size: 25px;
  justify-items: center;
  text-align: center;
  background: linear-gradient(rgb(185, 182, 181), gray);
}
.menu div {
  background: linear-gradient(lightblue 5%, white);
}
.menu p, .menu a {
  font-size: 30px;
  border-radius: 10px;
}
.menu img {
  width: 200px;
  border: 10px solid rgb(2, 247, 255);
  border-radius: 10px;
}

.servicios {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 5px double blue;
  background-color: rgb(185, 182, 181);
  font-size: 20px;
  gap: 10px;
}
.servicios div {
  display: block;
  padding: 10px 10px;
  border: 5px double blue;
  border-radius: 10px;
  background: linear-gradient(rgb(158, 194, 248), gray);
  width: 300px;
}

button {
  border-radius: 10px;
  background-color: rgb(2, 247, 255);
  font-weight: bolder;
  padding: 5px;
}

.like {
  background-color: rgb(13, 248, 13);
}

.disl {
  background-color: red;
}

.centrar {
  display: flex;
  justify-content: center;
}

.parr {
  font-size: 20px;
  background-color: rgb(185, 182, 181);
  height: 200px;
  width: 500px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  border: 5px double blue;
}

.nosotros {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  justify-content: center;
  justify-items: center;
}
.nosotros div {
  background: radial-gradient(yellow, white, lightblue 50%);
}

.mision-vision {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-evenly;
}

.mision {
  background-color: rgb(221, 236, 134);
  border: 5px solid rgb(2, 247, 255);
  border-radius: 10px;
  padding: 10px;
  color: blue;
}
.mision h3 {
  color: rgb(80, 77, 238);
}

.vision {
  background-color: rgb(80, 77, 238);
  border: 5px solid rgb(2, 247, 255);
  border-radius: 10px;
  padding: 10px;
  color: yellow;
}
.vision h3 {
  color: rgb(221, 236, 134);
}

.opiniones {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  background-color: rgb(185, 182, 181);
  gap: 20px;
}
.opiniones div {
  border: 5px double blue;
  border-radius: 10px;
  background: linear-gradient(lightblue 5%, white);
}

.contacto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  flex-wrap: wrap;
  padding: 2rem;
}
.contacto div {
  padding-top: 10px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 150px;
  height: 150px;
  border-radius: 30px;
  background: linear-gradient(rgb(2, 247, 255), gray);
}
.item p {
  color: blue;
}

.email {
  text-align: center;
  background: repeating-linear-gradient(90deg, lightblue 10%, white 15%);
  padding: 10px;
  border: 5px double blue;
}

.cajitas {
  width: 300px;
  margin-bottom: 40px;
  border: 5px solid rgb(7, 235, 252);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
  background: linear-gradient(45deg, lightblue, gray);
}
.cajitas label,
.cajitas input,
.cajitas textarea {
  width: 100%;
  max-width: 300px;
}
.cajitas input,
.cajitas textarea {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.cajitas input[type=submit] {
  width: auto;
  cursor: pointer;
}

.formulario {
  text-align: center;
  padding: 40px;
}
.formulario h2 {
  border-radius: 10px;
}

.navbar {
  position: relative;
  display: inline-block;
}

.boton-nav {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: rgb(158, 194, 248);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  min-width: 160px;
  z-index: 1;
  border-radius: 20px;
}
.dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 20px;
}
.dropdown a:hover {
  background-color: #f1f1f1;
}

.navbar:hover .dropdown {
  display: block;
}

.m-v {
  background-color: rgb(158, 194, 248);
}

@media (min-width: 600px) {
  body {
    min-height: 270vw;
  }
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border: none;
  }
  .menu div {
    width: 400px;
    border-radius: 20px;
  }
  .parr {
    height: 150px;
  }
  .navbar {
    display: block;
    position: fixed;
    left: 0;
    top: 30px;
  }
}
.centrador {
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  h1 {
    font-size: 30px;
  }
  .menu div {
    width: 600px;
    padding: 10px;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
  }
  .menu div:hover {
    transform: scale(1.1);
  }
  button, a {
    transition: all 0.3s ease-in-out;
  }
  button:hover, a:hover {
    transform: scale(1.2);
  }
  .servicios div {
    width: 600px;
    margin: 20px 0 20px 0;
  }
  .parr {
    width: 600px;
  }
  .nosotros div {
    width: 500px;
    height: 170px;
    border-radius: 20px;
    padding: 10px;
  }
  .mision-vision {
    width: 500px;
  }
  .centrar {
    margin-top: 10px;
  }
  .opiniones {
    padding: 30px;
    border-radius: 0 0 10px 10px;
  }
  .opiniones div {
    width: 500px;
  }
}
@media (min-width: 1100px) {
  header img {
    width: 10rem;
  }
  h1 {
    font-size: 40px;
  }
  header,
  h2 {
    font-size: 25px;
  }
  body {
    min-height: 100vw;
  }
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 7px double rgb(39, 3, 243);
    border-radius: 10px;
    gap: 10px;
    padding: 0;
    text-align: center;
  }
  .menu img {
    width: 200px;
  }
  .menu p {
    font-size: 20px;
  }
  .menu div {
    width: 300px;
    height: 350px;
    border: 5px double blue;
    transition: all 0.3s ease-in-out;
  }
  .menu div:hover {
    transform: scale(1.1);
  }
  .servicios {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
  }
  .servicios div {
    padding: 10px;
    width: 250px;
    height: 150px;
    transition: all 0.3s ease-in-out;
  }
  .servicios div:hover {
    transform: scale(1.1);
  }
  .nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "it1 ." ". it2" "it3 ." ". it4";
    gap: 0;
    text-align: center;
    justify-content: center;
    justify-items: center;
    padding: 10px 0 10px 0;
  }
  .nosotros div {
    border: 5px solid rgb(2, 247, 255);
    border-radius: 10px;
  }
  .item1 {
    grid-area: it1;
  }
  .item2 {
    grid-area: it2;
  }
  .item3 {
    grid-area: it3;
  }
  .item4 {
    grid-area: it4;
  }
  .mision-vision {
    display: grid;
    grid-template-columns: 300px 300px;
    justify-content: space-evenly;
    margin-top: 20px;
  }
  .opiniones {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr, 1fr;
    background-color: rgb(185, 182, 181);
    padding-top: 30px;
  }
  button:hover {
    transform: scale(1.1);
  }
}

/*# sourceMappingURL=style.css.map */
