@use 'variables';
@use 'mixins';

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html {
background-color: variables.$color-fondo;
height: 100vw;
width: 100vw;
}

body {
min-height: 400vw;
}

h1 {
padding: 40px;
font-size: 25px;
color: lightblue;
}

h2 {
text-align: center;
text-transform: uppercase;
padding: 30px;
background:linear-gradient(gray,rgb(185, 182, 181));
border: 5px solid variables.$color-secundario;
}

a {
text-decoration: none;
}

header {
background-image: url(../multimedia/banner.jpg);
text-align: center;

img {
    width: 20rem;
}

&, h2 {
    font-size: 30px;
}
}

.pie {
position: fixed;
bottom: 0;
left: 0;
background-color: variables.$color-footer;
width: 100%;
height: 50px;
border-top: 5px double blue;

p {
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: variables.$color-secundario;
    padding: 5px;
    border-radius: 10px;
}
}

.equipo {
background-color: rgb(185, 182, 181);

li {
    color: variables.$color-texto;
    font-weight: 600;
}

}

.menu {
list-style-type: none;
display: flex;
flex-direction: column;
border-radius: 10px;
gap: 30px;
border: none;
font-size: 25px;
justify-items: center;
text-align: center;
background:linear-gradient(rgb(185, 182, 181),gray) ;

div {
    background: linear-gradient(lightblue 5%, white);
}
p, a {
    font-size: 30px;
    border-radius: 10px;
}

img {
    width: 200px;
    border: 10px solid variables.$color-secundario;
    border-radius: variables.$radius;
}

}
.sub{
    color: lightblue;
    padding-bottom: 10px;
}
.marg{
    margin: 10px 0 10px 0;
}

.servicios {
display: flex;
flex-direction: column;
align-items: center;
padding: 20px;
border: 5px double blue;
background-color: rgb(185, 182, 181);
font-size: 20px;
gap: 10px;

div {
    display: block;
    padding: 10px 10px;
    border: 5px double blue;
    border-radius: 10px;
    background: linear-gradient(variables.$color-primario, gray);
    width: 300px;
}
}

button {
border-radius: 10px;
background-color: variables.$color-secundario;
font-weight: bolder;
padding: 5px;
}

.like {
background-color: rgb(13, 248, 13);
}

.disl {
background-color: red;
}

.centrar {
display: flex;
justify-content: center;
}

.parr {
font-size: 20px;
background-color: rgb(185, 182, 181);
height: 200px;
width: 500px;
padding: 20px;
border-radius: 10px;
text-align: center;
border: 5px double blue;
}

.nosotros {
display: flex;
flex-direction: column;
gap: 30px;
text-align: center;
justify-content: center;
justify-items: center;

div{
    background: radial-gradient(yellow, white, lightblue 50%);
    border-radius: 10px;
}
.item4{
    margin-bottom: 20px;
}
}



.mision-vision {
display: flex;
flex-direction: column;
gap: 30px;
justify-content: space-evenly;
}

.mision {
background: linear-gradient(variables.$color-primario, variables.$color-footer);
border: 5px solid variables.$color-secundario;
border-radius: 10px;
padding: 10px;
color: black;

h3 {
    color: variables.$color-titulo;
}
}

.vision {
background: linear-gradient(variables.$color-footer, variables.$color-primario);
border: 5px solid variables.$color-secundario;
border-radius: 10px;
padding: 10px;
color: black;

h3 {
    color: variables.$color-claro;
}
}

.opiniones {
display: grid;
grid-template-columns: 1fr;
grid-template-rows: repeat(4, 1fr);
margin: 0 auto;
justify-content: center;
text-align: center;
background-color: rgb(185, 182, 181);
gap: 20px;

div {
    border: 5px double blue;
    border-radius: 10px;
    background:linear-gradient(lightblue 5%, white) ;
}
}
.contacto {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 4rem;
flex-wrap: wrap;
padding: 2rem;

div{
    padding-top: 10px;
    &:hover{transform: scale(1.1);}
    transition: all ease-in-out 0.3s;
}
}

.item {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
width: 150px;
height: 150px;
border-radius: 30px;
background: linear-gradient(variables.$color-secundario,gray);
    p{
        color: blue;
    }
}

.email {
text-align: center;
background: repeating-linear-gradient(90deg, lightblue 10%, white 15%);
padding: 10px;
border: variables.$border-standard;
}

.cajitas {
width: 300px;
margin: 10px auto 40px auto;
border: 5px solid rgb(7, 235, 252);
border-radius: 10px;
display: flex;
flex-direction: column;
align-items: center;
gap: 10px;
background: linear-gradient(45deg, lightblue, gray);

label,
input,
textarea {
    width: 100%;
    max-width: 300px;
}

input,
textarea {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type='submit'] {
    width: auto;
    cursor: pointer;
    &:hover{
        transform: scale(1.1);
        transition: all ease-in-out 0.3s;
    }
}
}

.formulario {
text-align: center;
padding: 40px;

h2{
    border-radius: variables.$radius;
}
}

.navbar {
position: relative;
display: inline-block;
}

.boton-nav {
background-color: #3498db;
color: white;
padding: 10px 20px;
font-size: 16px;
border: none;
cursor: pointer;
}

.dropdown {
display: none;
position: absolute;
background-color:rgb(158, 194, 248);
box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
min-width: 160px;
z-index: 1;
border-radius: 20px;

a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 20px;
}

a:hover {
    background-color: #f1f1f1;
}
}

.navbar:hover .dropdown {
display: block;
}
.m-v{
    background-color: rgb(158, 194, 248);

}

@media (min-width: 600px) {
body{
    min-height: 270vw;
}
    .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border: none;
    div{
        width: 400px;
        border-radius: 20px;
    }
}
.parr{
    height: 150px;
}
.navbar {
    display: block;
    position: fixed;
    left: 0;
    top: 30px;
}
}
.centrador{
    display: flex;
    justify-content: center;
}
@media (min-width: 768px){
    h1{
        font-size: 30px;
    }
    .menu{
        div{
            width: 600px;
            padding: 10px;
            border-radius: 20px;
            transition: all 0.3s ease-in-out;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
    button, a{
        transition: all 0.3s ease-in-out;
        &:hover{
            transform: scale(1.2);
        }
    }
    .servicios{
        div{
            width: 600px;
            margin: 20px 0 20px 0 ;
        }
    }
    .parr{
        width: 600px;
    }
    .nosotros{
        div{
            width: 500px;
            height: 170px;
            border-radius: 20px;
            padding: 10px;
        }
    }
    .mision-vision{
        width: 500px;
    }
    .centrar{
        margin-top: 10px;
    }
    .opiniones{
        padding: 30px;
        border-radius: 0 0 10px 10px;
        div{
            width: 500px;
        }
    }
}

@media (min-width: 1100px) {
header img {
    width: 10rem;
}
h1{
    font-size: 40px;
}
header,
h2 {
    font-size: 25px;
}
body {
    min-height: 100vw;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 7px double rgb(39, 3, 243);
    border-radius: 10px;
    gap: 10px;
    padding: 0;
    text-align: center;
}
.menu img {
    width: 200px;
}
.menu p {
    font-size: 20px;
}
.menu div {
    width: 300px;
    height: 350px;
    border: 5px double blue;
    transition: all 0.3s ease-in-out;
    &:hover{
        transform: scale(1.1);
    }
}
.servicios {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 100vw;
}
.servicios div {
    padding: 10px;
    width: 250px;
    height: 150px;
    transition: all 0.3s ease-in-out;
    &:hover{
        transform:scale(1.1);
    }
}

.nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
    'it1 .'
    '. it2'
    'it3 .'
    '. it4';
    gap: 0;
    text-align: center;
    justify-content: center;
    justify-items: center;
    padding: 10px 0 10px 0;
}
.nosotros div {
    border: 5px solid variables.$color-secundario;
    border-radius: 10px;
    img{
        height: 100px;
        width: 100px;
    }
}
.item1 {
    grid-area: it1;
}
.item2 {
    grid-area: it2;
}
.item3 {
    grid-area: it3;
}
.item4 {
    grid-area: it4;
}
.mision-vision {
    display: grid;
    grid-template-columns: 300px 300px;
    justify-content: space-evenly;
    margin-top: 20px;
}
.opiniones {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr, 1fr;
    background-color: rgb(185, 182, 181);
    padding-top: 30px;
}
    button{
        &:hover{
            transform: scale(1.1);
        }
    }
}