$color-fondo: gray;
$color-primario: rgb(158, 194, 248);
$color-secundario: rgb(2, 247, 255);
$color-footer: rgb(105, 87, 87);
$color-titulo: rgb(80, 77, 238);
$color-claro: rgb(221, 236, 134);
$color-texto: rgb(161, 11, 136);
$border-standard: 5px double blue;
$radius: 10px;
